@tailwind base;
@tailwind components;
@tailwind utilities;

code {
    font-size: .8em;
    padding: .2em .8em;

    background-color: whitesmoke;
    border-radius: 6px;
}

pre {
    color: white;
    padding: 1rem;

    background-color: #242424;
    border-radius: 10px;
}

pre > code {
    background-color: transparent;
}